@charset "UTF-8";

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --azul-claro: #add8e6;
    --branco: #ffffff;
    --fonte-padrao: #'Times New Roman', Times, serif;
    --preto-transparente: #00000066;
}

/* Versão desktop */
body {
    background-color: var(--azul-claro);
    font-family: var(--fonte-padrao);
    overflow: hidden;
    text-align: center;
}

h1 {
    padding: 30px;
    transition: 0.6s ease;
}

h1:hover {
    transform: scale(1.1);
    transition: 0.6s ease;
}

main {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0px var(--preto-transparente);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    transition: 0.3s ease;
    width: 500px;
}

main:hover {
    box-shadow: 4px 4px 4px 0px var(--preto-transparente);
    transition: 0.3s ease;
}

img {
    border-radius: 50%;
    height: 200px;
    margin-top: 20px;
    opacity: 0.9;
    transition: 0.6s ease;
    width: 200px;
}

img:hover {
    opacity: 1.0;
    transition: 0.6s ease;
}